/* styles.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
nav{
    background-color: #333;
    color: #fff;
}

.welcome {
    text-align: center;
    margin-bottom: 2em;
}

.welcome h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    width: calc(20% - 40px);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature i {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 14px;
    color: #666;
}
.salir{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 0;
    width: 100px;
    height: 40px;
    margin: auto;
}
.feature2 {
    background-color: #4e504e;
    padding: 20px;
    margin: 20px;
    width: calc(20% - 40px);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature2 i {
    font-size: 24px;
    margin-bottom: 10px;
}
.feature2 a{
    text-decoration: none;

}
.feature2 h2 {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.feature2 p {
    text-align: center;
    font-size: 14px;
    color: #fffcfc;
}