
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: #333;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  .salir{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 0;
    width: 100px;
    height: 40px;
    margin: auto;
}
nav{
    background-color: #333;
    color: #fff;
}